html,
body,
#__next {
  height: 100%;
  padding: 0;
  margin: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 0.25s ease-out both;
}

.fade-out {
  animation: fade-out 0.25s ease-in both;
}

:root {
  --toastify-color-dark: #1e1e1e;
  --toastify-font-family: Inter;
}
